*.txt
node_modules/
*.json
goal.png
goal1.png
goal2.png
goal3.png
goal-large.png
goal-small.png
dog.png
demo.html
demo1.html
demo2.html
demo3.html
demo4.html
config.js
*.env
.DS_Store
*.exe
.Trashes
Secrets/
Secret/
secrets/
secret/
*.zip
*.log