body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #FAF1E6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

.highlight {
  color: #27548A;
}

.card {
  width: 45%;
  display: flex;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tile-image {
  width: 300px;
  float: left;
  margin-right: 50px;
}

footer {
  text-align: right;
  color: midnightblue;
}

/* 
Mobile: 319px — 480px 
Tablets: 481px — 1200px 
Laptops: 1201px — 1600px 
Desktops: 1601px and more 
*/

@media (max-width: 1200px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 50px;
    text-align: justify;
  }

  .card img {
    width: 100%;
    display: inline;
    margin-bottom: 30px;
    object-fit: cover;
  }

}
